.num-button{
    width:auto;
    min-width: 5px;
    height:auto;
    min-height: 10px;
    border: 0.5px solid black;
  }
  .pagination{
    width:auto;
    height:auto;
    float: right; 
  }

  button {
      border: 1px solid black;
      padding: 10px;
      background-color: white;
      color: black;
      font-size: 14px;
      font-weight: normal;
      font-family: 'Times New Roman', Times, serif;
      height: 40px;
      margin: 0 20px;
      cursor: pointer;
      
      &:disabled{
        background-color: #efefef;
        cursor: not-allowed;
      }
  }